* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 12px;
    color: #bababa;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3e3e3;
}

#container {
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #c5c5c5;
    width: 30%;
}

img {
    width: 20px;
    height: 20px;

}

.in {
    background-color: #f9f9f9;
    appearance: none;
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
}

.input_date {
    background-color: #f9f9f9;
    appearance: none;
    border: none;
    outline: none;
    height: 40px;
    width: 100%;
}

.input {
    width: 100%;
}

::placeholder {
    padding-left: 5px;
}

.title {
    color: #40b7b9;
    font-weight: bold;
    margin-bottom: 15px;
}

.panel_main {
    margin: 30px;
}

.icon {
    height: fit-content;
    width: fit-content;
    border-right: 1px solid #c5c5c5;
    padding: 5px 10px;
    background-color: #f9f9f9;
}

.sub_panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.panel {
    box-sizing: border-box;
    border: 1px solid #c5c5c5;
    border-radius: 2px;
    margin-bottom: 10px;
}

.birth_gender {
    margin-top: 25px;
    display: flex;
}

.birthday_input {
    display: flex;
}

.input_date {
    width: fit-content;
    margin-right: 5px;
    border: 1px solid #c5c5c5;
}

.gender_panel {
    width: 50%;
    margin-left: 10px;
}

.male_female {
    display: flex;
}

.male {
    width: 50%;
    border: 1px solid #c5c5c5;
    text-align: center;
    background-color: #f9f9f9;
    padding-top: 13px;
    padding-bottom: 13px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.male:hover {
    background-color: #40b7b9;
}

.payment_panel {
    margin-top: 25px;
}

.option {
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit {
    display: flex;
    width: 100%;
    justify-content: center;
    border: 1px solid #c5c5c5;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}

.credit:hover {
    background-color: #40b7b9;
}

.card_name {
    padding-top: 2px;
    margin-left: 5px;
}

.cardnum_panel {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardnum_panel > .icon {
    background-color: #f9f9f9;
}

.cardcvc_date {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardcvc_panel {
    display: flex;
    border: 1px solid #c5c5c5;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.date_panel {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

select {
    padding-top: 10px;
    padding-bottom: 14px;
    border: 1px solid #c5c5c5;
    background-color: #f9f9f9;
    width: 100%;
}

.footer {
    margin-top: 25px;
}

.accept {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accept > input {
    margin-right: 5px;
    border: 1px solid #c5c5c5;

}

p {
    padding-top: 5px;
}

.key {
    transform: rotate(45deg);
}
